.checkoutproduct{
    display: flex ;
    margin: 20px auto;
width: 100%;
/* border-bottom: 2px solid rgba(211, 211, 211, 0.568); */
}
.checkoutproduct__image{
    object-fit: contain;
    width: 50%;
    min-width: 200px;
    max-height: 200px;
    /* margin-bottom: 2px; */
    margin-left: 1%;
}
.checkoutproduct__info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-left: 3.5%;
}

.checkoutproduct__rating{
    display: flex;
}

.checkoutproduct__button{
    background: #ffcd4d;
    border-radius: 2px;
    padding: 0 10px;
    width: fit-content;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    white-space: nowrap;
}
.checkoutproduct__button:hover{
    box-shadow: 1px 1px 5px ;
}