.checkoutproduct{
    display: flex ;
    margin: 20px auto;
width: 100%;
}
.checkoutproduct__image{
    object-fit: contain;
    width: 15%;
    margin: auto;
    margin-left: 1%;
}
.checkoutproduct__info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-left: 3.5%;
}

.checkoutproduct__rating{
    display: flex;
}

.checkoutproduct__button{
    background: #f0c14b;
    border-radius: 2px;
    padding: 0 10px;
    width: fit-content;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    white-space: nowrap;
}
